*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    -webkit-tap-highlight-color: transparent;
}
input:focus, select{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 51, 51); 
    transition: .5s all ease-in-out;
    position: absolute;
}


.light{
    background-color: rgb(235, 235, 237);
    
}
header .dark{
    background-color: rgb(30, 30, 30);
}
header .light{
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 3px rgba(133, 133, 133, 0.5);
}
.head{
    
    margin-bottom: -20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;   
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}
header{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 96vw;
}
header h1{
    font-size: 20px;
    color: rgb(215, 179, 106);
}
header img{
    width: 60px;
    height: 60px;
}

.btn-lista{
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    color: rgb(30, 30, 30);
    background-color: rgb(215, 179, 106);
    margin-bottom: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    width: 96vw;
    transition: .5s ;
    cursor: pointer;
}
.btn-lista:active{
    transform: scale(0.99);
}

.btn{
    margin-top: 30px;
    border: none;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
}
.btnlight{
    background-image: url(../image/light.png);
    transition: .7s all ease-in-out;
}
.btndark{
    background-image: url(../image/dark.png);  
    transition: .7s all ease-in-out;
    transform: rotate(70deg);
}

input[type='text']{
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(133, 133, 133, 0.369);
    font-size: 18px;
    color: rgb(42, 42, 42);
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 10px; 
}
input[type="checkbox"]{
    margin-left: 0px;
}
#select{
    border: none;
    background-color: rgb(83, 81, 81);
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    color: rgb(215, 179, 106);
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

ul{
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;  
    width: 100%;
}


li{
    display: flex;
    align-items: center;
    color: rgb(133, 133, 133);
    font-family: sans-serif;
    text-transform: uppercase;
    justify-content: flex-start;
    word-wrap: wrap;
    box-shadow: 0px 0px 3px rgba(133, 133, 133, 0.369);
    padding: 5px;
    gap: 15px;
    background-color: rgba(133, 133, 133, 0.1);
    border-radius: 5px;
    width: 96vw;
    cursor: pointer;
}
.ulLocal{
    display: none;
    position: relative;
}
.liLocal{
    display: flex;
    align-items: center;
    color: rgb(133, 133, 133);
    font-family: sans-serif;
    text-transform: uppercase;
    justify-content: flex-start;
    word-wrap: wrap;
    box-shadow: 0px 0px 3px rgba(133, 133, 133, 0.369);
    padding: 5px;
    gap: 15px;
    background-color: rgba(133, 133, 133, 0.1);
    border-radius: 5px;
    width: 96vw; 
}
p{
    max-width: 95%;
}

.container h2{
    visibility: hidden;
    border-bottom: 1px solid rgba(215, 179, 106, 0.5);
    text-align: left;
    width: 100%;
    margin-top: 0px;
    color: rgb(215, 179, 106);
    font-size: 18px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.footerlight{
    box-shadow: 0px 0px 3px rgba(133, 133, 133, 0.5);
    background-color: rgb(230, 230, 230);
}
footer{  
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(133, 133, 133);
    width: 100vw;
    background-color: rgb(30, 30, 30);
}
i{
    border-bottom: 1px solid rgba(133, 133, 133, 0.5);
    color: rgb(93, 109, 189);
}


.social{
    display: flex;
    width: 100%;
    justify-content: center;
    gap:30px;
    margin-bottom: 30px;
}
.social img{
    width: 20px;
    height: 20px;
}
.arrow-up{
    position:absolute;
    left: 0;
    margin-top: -58px;
    margin-left: 30px;
    width: 30px;
    height: 30px;
}


